language: go

env:
- GO111MODULE=on

go:
- 1.16.x

addons:
  chrome: stable

install:
- go get github.com/agnivade/wasmbrowsertest
- mv $GOPATH/bin/wasmbrowsertest $GOPATH/bin/go_js_wasm_exec
- export PATH=$GOPATH/bin:$PATH

script:

- cp hogosuru/hogosuru.go $(go env GOROOT)/src/syscall/js/
- GOOS=js GOARCH=wasm go test -v  ./baseobject
- GOOS=js GOARCH=wasm go test -v  ./array
- GOOS=js GOARCH=wasm go test -v  ./arraybuffer
- GOOS=js GOARCH=wasm go test -v  ./typedarray
- GOOS=js GOARCH=wasm go test -v  ./json
- GOOS=js GOARCH=wasm go test -v  ./promise
- GOOS=js GOARCH=wasm go test -v  ./fetch
- GOOS=js GOARCH=wasm go test -v  ./websocket
- GOOS=js GOARCH=wasm go test -v  ./objectmap
- GOOS=js GOARCH=wasm go test -v  ./abortcontroller